## Data Objects in databricks

In [0]:
create function dev.ramana.fullnamee(first_name string, last_name string)
returns string
return concat(first_name," ",last_name)

In [0]:
CREATE TABLE IF NOT EXISTS dev.ramana.my_table (
    id INT,
    name STRING,
    age INT
);

In [0]:
%sql
use catalog dev;